*{

    margin: 0;
    padding: 0;
}

#main{
    width: 98%;
    background-color: #eeeeee;
    margin-top: 20px;
    margin-left: 1%;
    border-radius: 10px;
}

#title{
    font-size: 50px;
    padding: 30px;
    margin-left: 30%;
    padding-bottom: 10px;
}

p{
    padding: 20px;
    margin-left: 40%;
}

#img-div{
    width: 98%;
    margin: auto;
    background-color: #fff;
}

#img-div img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

#txt{
    margin-left: 15%;
}

#tribute-info{
    background-color: #eeeeee;
    
}

#tribute-info h1{
    text-align: center;
    padding: 50px;
}

ul,blockquote{
    width: 40%;
    line-height: 1.5;
    text-align: justify;
    margin-left: 30%;
}

ul li{
    margin-bottom: 20px;
}

blockquote{
    font-style: italic;
}

a{
    font-size: 25px;
    text-decoration: none;
    color: #4f69df;
}